*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #004581;
}
.left-footer{
    width: 30%;
}
.left-footer img {
    width: 80%;
    margin-left: 20%;
}
.midel-footer{
    font-size: 30px;
    text-align: center;
    width: 30%;
    color: #dde8f0;
}
.right-footer{
    width: 30%;
}
.navebar-footer{
    font-size: 30px;
    margin-left: 30%;
    color: #018abd;
}
.navebar-footer li a {
    color: #dde8f0;
    text-decoration: none;
}
.navebar-footer li a:hover {
    color: #000000;
    text-decoration: none;
}