* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #a1e1fa;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* CATEGORY */

.category {
    /* border-style: solid;
    border-width: 1px;
    border-color: #000000; */
    margin: 1%;
    padding: 2px;
    box-shadow: -7px 7px 20px 0 #000000ab;
    background-color: #018abd;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.titel-cate {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.cate-link {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    padding: 0 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.cate-link::-webkit-scrollbar {
    display: none;
}
.col-img {
    flex: 0 0 auto;
    margin-right: 20px;

}
.col-img a {
    text-decoration: none;
}

.col-img a p {
    text-align: center;
    color: #e9eef2;
    font-size: 18px;
}

.col-img a img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    flex: 0 0 auto;
}
.pre-btn2 , .nxt-btn2 {
    border-radius: 50%;
    border: none;

    /* width: 20px; */
    /* height: 100%; */
    position: absolute;
    top: 0;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #018abd 100%);
    cursor: pointer;
    z-index: 8;
    /* opacity: 0; */
}
.pre-btn2 {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn2 {
    right: 0;
}

.pre-btn2 i,
.nxt-btn2 i {
    opacity: 0;
    font-size: 50px;
}

.pre-btn2:hover i,
.nxt-btn2:hover i {
    opacity: 1;
}